<footer class="site-footer-bottom">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-sm-6 copyrights-left">
        <p>Atualizado em junho de 2017</p>
      </div>
      <div class="col-md-6 col-sm-6 copyrights-right">
        <ul class="pull-right social-icons-colored">
          <li class="facebook"><a href="https://www.facebook.com/zone.lilo"><i class="fa fa-facebook-f"></i></a></li>
          <li class="twitter"><a href="https://twitter.com/estudiolilo"><i class="fa fa-twitter"></i></a></li>
          <li class="instagram"><a href="https://www.instagram.com/lilo.zone/"><i class="fa fa-instagram"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
