<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="description" content="Site do Lilo.Zone com toda a grade de programação de workshops, cursos e palestras">
<meta name="keywords" content="makerspace, façca você mesmo, arduíno, videomapping">
<meta name="author" content="Lina Lopes">

<meta property="og:locale" content="pt_BR">
<meta property="og:url" content="">
<meta property="og:title" content="Site do Lilo.Zone com toda a grade de programação de workshops, cursos e palestras">
<meta property="og:site_name" content="Lilo.Zone">
<meta property="og:description" content="Site do Lilo.Zone com toda a grade de programação de workshops, cursos e palestras">
<meta property="og:image" content="http://www.lilo.zone/images/logo.png">
<meta property="og:image:type" content="image/png">
<meta property="og:image:width" content="1036">
<meta property="og:image:height" content="577">
<meta property="og:type" content="website">

<meta name="google-site-verification" content="rm49dDkG219f1_davMYwHg7DwrvckxUp4LRHe7AF7BQ" />

<!-- Mobile Specific Metas
  ================================================== -->
<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
<meta name="format-detection" content="telephone=no">
