<div class="site-header-wrapper">
  <header class="site-header">
    <div class="container sp-cont">
      <a href="#" class="visible-sm visible-xs" id="menu-toggle"><i class="fa fa-bars"></i></a>
      <!-- Main Navigation -->
      <nav class="main-navigation dd-menu toggle-menu" role="navigation">
        <ul class="sf-menu"> 
          <li><a href="index.html">Home</a></li>
          <li><a href="manifesto.html">Manifesto</a></li>
          <li><a href="laser.html">Corte à laser</a></li>
          <li><a link href="http://kids.lilo.zone">Lilo Kids</a></li>
          <li><a link href="http://www.linalopes.info">Lina Lopes</a></li>
          <li><a href="contato.html">Contatos</a></li>
        </ul>
      </nav>
    </div>
  </header>
</div>
