<div class="topbar">
  <div class="container">
    <div class="row">
      <div class="col-md-6  col-sm-6">
        <p>Nosso horário: 12h às 20h. Aberto de segunda à sexta.</p>
      </div>
      <div class="col-md-6 col-sm-6">
        <ul class="pull-right social-icons-colored">
          <li class="facebook"><a target="_blank" href="https://www.facebook.com/zone.lilo"><i class="fa fa-facebook-f"></i></a></li>
          <li class="twitter"><a target="_blank" href="https://twitter.com/LILOoZone"><i class="fa fa-twitter"></i></a></li>
          <li class="instagram"><a target="_blank" href="https://www.instagram.com/lilo.zone"><i class="fa fa-instagram"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
