<!DOCTYPE HTML>
<html class="no-js">
<head>
<!-- Basic Page Needs
  ================================================== -->
<title>Lilo.Zone - Blog</title>
{% include meta.html %}
{% include css.html %}
</head>
<body class="header-style1">
<!--[if lt IE 7]>
	<p class="chromeframe">You are using an outdated browser. <a href="http://browsehappy.com/">Upgrade your browser today</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to better experience this site.</p>
<![endif]-->
<div class="body">
	{% include topbar.html %}
    {% include site-header.html %}
   	
    <div class="hero-area">
    	<div class="page-header parallax" style="background-image:url(/images/lilo14.png)"><div><div><span>Blog</span></div></div></div>
    </div>
    <!-- Notive Bar -->
    <div class="notice-bar">
      	<div class="container">
        	<ol class="breadcrumb">
            	<li><a href="#">Home</a></li>
                <li class="active">Blog</li>
            </ol>
        </div>
    </div>
    <!-- Start Body Content -->
  	<div class="main" role="main">
    	<div id="content" class="content full single-post">
            <div class="container">
            	<div class="row">
                    <div class="col-md-12">
                        {% for blog in site.data.blog %}
            			<header class="single-post-header clearfix">
              				<h1 class="post-title">{{blog.titulo}}</h1>
                            <h3>{{blog.autor}}</h3>
                            <div class="meta-data alt">
                                <div><i class="fa fa-clock-o"></i> {{blog.dia1}}/{{blog.mes}}/{{blog.ano}}</div>
                            </div>
            			</header>
            			<article class="post-content">
              				<div class="featured-image"> <img src="{{blog.imagem}}" alt=""> </div>
              				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla convallis egestas rhoncus. Donec facilisis fermentum sem, ac viverra ante luctus vel. Donec vel mauris quam. Aliquam pellentesque pellentesque turpis, ut bibendum sapien sollicitudin nec. Pellentesque posuere ornare placerat. Suspendisse potenti. Quisque massa tortor, tristique non tristique at, luctus sed massa. Donec libero eros, mollis ac fringilla eu, vestibulum sed lorem. Aenean aliquet tempor purus, sit amet ultricies neque bibendum venenatis. Suspendisse pulvinar massa sed odio semper mattis. Pellentesque vel nunc arcu, id rhoncus magna. Maecenas quis tempus ligula. Nunc ac tortor diam. Phasellus tincidunt rutrum diam, eget elementum lorem sagittis eget.</p>
              				<h3>Vivamus convallis</h3>
              				<p>Integer faucibus magna vitae augue suscipit a varius sem scelerisque. Nunc scelerisque tempus nunc in euismod. In sagittis congue sodales. Cras sit amet est nibh. Suspendisse eget ligula in nulla iaculis interdum nec a odio. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Cras massa odio, facilisis tincidunt blandit semper, lacinia semper dui. Donec viverra eros quis urna congue facilisis. Vivamus convallis imperdiet porta. Aliquam a nisi risus, vitae faucibus sem.</p>
              				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla convallis egestas rhoncus. Donec facilisis fermentum sem, ac viverra ante luctus vel. Donec vel mauris quam. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla convallis egestas rhoncus. Donec facilisis fermentum sem, ac viverra ante luctus vel. Donec vel mauris quam.</p>
              				<blockquote>
                				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla convallis egestas rhoncus. Donec facilisis fermentum sem, ac viverra ante luctus vel. Donec vel mauris quam. Aliquam pellentesque pellentesque turpis, ut bibendum sapien sollicitudin nec. Pellentesque posuere ornare placerat. Suspendisse potenti. Quisque massa tortor, tristique non tristique at, luctus sed massa. Donec libero eros, mollis ac fringilla eu, vestibulum sed lorem. </p>
              				</blockquote>
                            {% endfor %}
            			</article>
                    </div>
               	</div>
           	</div>
        </div>
   	</div>
    <!-- End Body Content -->
    <!-- Start site footer -->
    {% include footer.html %}
    <!-- End site footer -->
  	<a id="back-to-top"><i class="fa fa-chevron-up"></i></a>  
</div>
</body>
</html>