<!DOCTYPE HTML>
<html class="no-js">
<head>
<!-- Basic Page Needs
  ================================================== -->
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>Lilo.Zone</title>
<meta name="description" content="">
<meta name="keywords" content="">
<meta name="author" content="">
<!-- Mobile Specific Metas
  ================================================== -->
<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
<meta name="format-detection" content="telephone=no">
<!-- CSS
  ================================================== -->
<link href="css/bootstrap.css" rel="stylesheet" type="text/css">
<link href="css/bootstrap-theme.css" rel="stylesheet" type="text/css">
<link href="css/style.css" rel="stylesheet" type="text/css">
<link href="vendor/prettyphoto/css/prettyPhoto.css" rel="stylesheet" type="text/css">
<link href="vendor/owl-carousel/css/owl.carousel.css" rel="stylesheet" type="text/css">
<link href="vendor/owl-carousel/css/owl.theme.css" rel="stylesheet" type="text/css">
<!--[if lte IE 9]><link rel="stylesheet" type="text/css" href="css/ie.css" media="screen" /><![endif]-->
<link href="css/custom.css" rel="stylesheet" type="text/css"><!-- CUSTOM STYLESHEET FOR STYLING -->
<!-- Color Style -->
<link href="css/color4.css" rel="stylesheet" type="text/css">
<!-- SCRIPTS
  ================================================== -->
<script src="js/modernizr.js"></script><!-- Modernizr -->
</head>
<body class="header-style1">
<!--[if lt IE 7]>
	<p class="chromeframe">You are using an outdated browser. <a href="http://browsehappy.com/">Upgrade your browser today</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to better experience this site.</p>
<![endif]-->
<div class="body">
	<div class="topbar">
    	<div class="container">
        	<div class="row">
            	<div class="col-md-6  col-sm-6">
                	<p>Nosso horário: 12h às 20h. Aberto de segunda à sexta.</p>
                </div>
                <div class="col-md-6 col-sm-6">
                	<ul class="pull-right social-icons-colored">
                    	<li class="facebook"><a href="https://www.facebook.com/lilozones"><i class="fa fa-facebook-f"></i></a></li>
                    	<li class="twitter"><a href="https://twitter.com/estudiolilo"><i class="fa fa-twitter"></i></a></li>
                    	<li class="instagram"><a href="https://www.instagram.com/lilo.zone"><i class="fa fa-instagram"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
	<!-- Start Site Header -->
	<div class="site-header-wrapper">
        <header class="site-header">
            <div class="container sp-cont">
                <a href="#" class="visible-sm visible-xs" id="menu-toggle"><i class="fa fa-bars"></i></a>
                <!-- Main Navigation -->
                <nav class="main-navigation dd-menu toggle-menu" role="navigation">
                    <ul class="sf-menu">                    
                        <li><a href="#">Manifesto</a></li>
                        <li><a href="#">Blog</a></li>
                        <li><a href="#">Contatos</a></li>
                    </ul>
                </nav>
            </div>
        </header>
        <!-- End Site Header -->
   	</div>
    <div class="hero-area">
    	<div class="page-header parallax" style="background-image:url()"><div><div><span>Lilo.Zone</span></div></div></div>
    </div>
    <!-- Notive Bar -->
    <div class="notice-bar">
      	<div class="container">
        	<ol class="breadcrumb">
            	<li>FEVEREIRO/2017</li>
            </ol>
        </div>
    </div>
    <!-- Start Body Content -->
  	<div class="main" role="main">
    	<div id="content" class="content full">
            <div class="container">
            	<div class="row">
                    <ul class="isotope-grid isotope events-grid" data-sort-id="grid">
                        {% for post in site.posts %}
                        <li class="col-md-4 col-sm-4 grid-item format-standard">
                            <a href="{{post.url}}" class="media-box grid-featured-img"><img src="{{post.imagem}}" alt=""></a>
                            <div class="grid-item-content">
                            	<div class="event-time">
									<span class="date">{{post.data | date:"%d"}}</span>
									<span class="month">{{post.data | date: "%b"}}/{{post.data | date: "%y"}}</span>
								</div>
                                {% assign sitedate = site.time | date:"%s" %}
                                {% assign postdate = post.data | date:"%s" %}
                                {% if postdate > sitedate %}
                                <span class="label label-success">Chegando</span>
                                {% else %}
                                <span class="label label-default">Passou</span>
                                {% endif %}
                                <h3><a href="event-single.html">{{post.title}}</a></h3>
                                <div class="meta-data grid-item-meta alt">
                                    <div>{{post.valor}}</div>
                                    <div>{{post.dsemana}},{{post.horario}}</div>
                               	</div>
                                <div class="post-actions">
                                    {% if postdate > sitedate %}
                                	<a href="{{post.ingresso}}" class="btn btn-primary">Reserve Online</a>
                                    {% else %}
                                    <a href="{{post.url}}" class="btn btn-default">Detalhes</a>
                                    {% endif %}
                               	</div>
                            </div>
                    	</li>
                        {% endfor %}
                        
                   	</ul>
              	</div>
          	</div>
        </div>
   	</div>
    <!-- End Body Content -->
    <!-- Notive Bar -->
    <div class="notice-bar">
      	<div class="container">
        	<ol class="breadcrumb">
            	<li>MARÇO/2017</li>
            </ol>
        </div>
    </div>
    <!-- Start site footer -->
    <footer class="site-footer-bottom">
    	<div class="container">
        	<div class="row">
            	<div class="col-md-6 col-sm-6 copyrights-left">
                	<p>&copy;2017</p>
                </div>
            	<div class="col-md-6 col-sm-6 copyrights-right">
                	<ul class="pull-right social-icons-colored">
                    	<li class="facebook"><a href="https://www.facebook.com/lilozones"><i class="fa fa-facebook-f"></i></a></li>
                    	<li class="twitter"><a href="#"><i class="fa fa-twitter"></i></a></li>
                    	<li class="instagram"><a href="https://www.instagram.com/lilo.zone/"><i class="fa fa-instagram"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
    <!-- End site footer -->
  	<a id="back-to-top"><i class="fa fa-chevron-up"></i></a>  
</div>
<script src="js/jquery-2.1.3.min.js"></script> <!-- Jquery Library Call -->
<script src="vendor/prettyphoto/js/prettyphoto.js"></script> <!-- PrettyPhoto Plugin -->
<script src="js/ui-plugins.js"></script> <!-- UI Plugins -->
<script src="js/helper-plugins.js"></script> <!-- Helper Plugins -->
<script src="vendor/owl-carousel/js/owl.carousel.min.js"></script> <!-- Owl Carousel -->
<script src="js/bootstrap.js"></script> <!-- UI -->
<script src="js/init.js"></script> <!-- All Scripts -->
<script src="vendor/flexslider/js/jquery.flexslider.js"></script> <!-- FlexSlider -->
</body>
</html>