<!DOCTYPE HTML>
<html class="no-js">
<head>
<!-- Basic Page Needs
  ================================================== -->
<title>Lilo.Zone - Laser</title>
{% include meta.html %}
{% include css.html %}
</head>
<body class="header-style1">
<!--[if lt IE 7]>
	<p class="chromeframe">You are using an outdated browser. <a href="http://browsehappy.com/">Upgrade your browser today</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to better experience this site.</p>
<![endif]-->
<div class="body">
	<div class="topbar">
    	<div class="container">
        	<div class="row">
            	<div class="col-md-6  col-sm-6">
                	<p>Nosso horário: 12h às 20h. Aberto de segunda à sexta.</p>
                </div>
                <div class="col-md-6 col-sm-6">
                	<ul class="pull-right social-icons-colored">
                    	<li class="facebook"><a href="https://www.facebook.com/lilozones"><i class="fa fa-facebook-f"></i></a></li>
                    	<li class="twitter"><a href="https://twitter.com/estudiolilo"><i class="fa fa-twitter"></i></a></li>
                    	<li class="instagram"><a href="https://www.instagram.com/lilo.zone"><i class="fa fa-instagram"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
	<!-- Start Site Header -->
	<div class="site-header-wrapper">
      {% include site-header.html %}
   	</div>
    <div class="hero-area">
    	<div class="page-header parallax" style="background-image:url(/images/header/cutter.jpg)"><div><div><span>Cortadora à laser!</span></div></div></div>
    </div>
    <!-- Notive Bar -->
    <div class="notice-bar">
      	<div class="container">
        	<ol class="breadcrumb">
            	<li><a href="index.html">Home</a></li>
                <li class="active">Corte à laser</li>
            </ol>
        </div>
    </div>
    <!-- Start Body Content -->
  	<div class="main" role="main">
    	<div id="content" class="content full">
            <div class="container">
            	<div class="row">
                	<div class="col-md-12">
            			<h4 class="short accent-color">Corte! Grave! Marque!</h4>
                        <h2>O que é o corte à laser?</h2>
                        <p>Corte a laser é um processo de fabricação em que um laser de alta potência é usado para corte, perfuração, ou gravação de diversos materiais. O processo é caracterizado por uma cortes extremamente precisos e limpos, tornando-o ideal para aplicações de alta precisão.</p>
                        <p>O LILO.Zone conta com uma cortadora a laser com uma área de corte de 1000x500. Com LCD Colorido, que permite visualizar os desenhos antes do corte/gravação.</p>
                        
                        <h2>Que materiais podem ser cortados à laser?</h2>
                        <p>Diversos materiais podem ser trabalhados pelas máquinas de corte a laser, lembrando que cada material demanda condições diferenciadas no processo de corte ou gravação.</p>
                        <p>A espessura máxima aproximada para cada material é de 10mm.</p>
                        
                        <h3>MDF</h3>
                        <h3>Compensado</h3>
                        <h3>Acrílico</h3>
                        <h3>Papel</h3>
                        <h3>Papelão</h3>
                        <h3>PETG</h3>
                        <h3>Tecido</h3>
                        <h3>Plástico</h3>
                        <h3>Espuma</h3>
                        <h3>Isopor</h3>
                        <h3>EVA</h3>
                        <h3>Borracha</h3>
                        
                        <p class="lead">Não fornecemos o material!</p>
                        
                        <h2>Qual o valor?</h2>
                        <p>A hora uso de máquina COM o operador presente é de 100,00 reais. Para estudantes é de 85,00.</p>
                        <p>A hora uso de máquina SEM o operador presente (caso você já saiba operar) é de 70,00 reais. Para estudantes é de 55,00.</p>
                        <p>O pagamento mímimo é de uma hora. Caso queira saber quanto tempo leva em média para fazer seu projeto, envie email para contato@lilo.zone</p>
                        
                	</div>
                
        <hr class="fw">
                <h2>Imagens de projetos feitos à laser</h2>
                <div class="spacer-20"></div>
                <div class="row">
                    <div class="col-md-12">
                        <ul>
                            <!-- STAFF ITEM -->
                            {% for file in site.static_files %}
                              {% if file.path contains 'images/laser' %}
                                <li class="col-md-4">
                                  <div class="grid-item staff-item format-image">
                                    <div class="network-img-container">
                                      <img class="network-img" src="{{ file.path }}" alt="">
                                    </div>
                                  </div>
                                </li>
                              {% endif %}
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                <div class="spacer-20"></div>
            </div>
        </div>
   	</div>
    <!-- End Body Content -->
    <!-- Start site footer -->
    {% include footer.html %}
    <!-- End site footer -->
  	<a id="back-to-top"><i class="fa fa-chevron-up"></i></a>  
</div>
</div>
</body>
</html>
